<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GPS位置实时更新</title>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{http://ditu.google.cn/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc}"></script>
</head>
<body>
<div id="map" style="width: 600px;height: 600px;" align="center"></div>
</body>
</html>
<script>
    var lng = 113.3374;
    var lat = 23.15729;
    var mapProp = {
        center: new google.maps.LatLng(lat, lng),
        zoom: 20,
        mapTypeId: google.maps.MapTypeId.HYBRID,
        //scrollwheel: true
    };
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    var marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(lat, lng)
    });
        setInterval(function () {
            lat = lat + 0.00001;
            lng = lng + 0.00001;
            var latlng = new google.maps.LatLng(lat, lng);
            map.setCenter( new google.maps.LatLng(lat, lng));
            marker.setPosition(latlng);
        }, 1000)



</script>
