<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<style>
    span{
        font-size: 14px;
    }
</style>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-1" style="text-align: right;margin-right: 0px;">
        <span>@copy right 2018.11.19 www.peiport.com </span>
    </div>
    <div class="col-md-5" style="text-align: left;margin-left: 0px">
        <img class="img-responsive" src="../img/logo.png" width="60px" height="40px">
    </div>
</div>
</body>
</html>